:root {
  color-scheme: dark;

  /*--color-bkg: hsl(211 35% 15%); */
  --color-bkg: 211 35% 25%;

  /* --color-gradient: hsl(250 45% 10%); */
  --color-gradient: 230 45% 20%;

  /* --color-content: hsl(0, 0%, 100%); */
  --color-content: 0 0% 100%;

  /* --color-contrast: hsl(214 86% 5%); */
  --color-contrast: 214 86% 5%;

  /* --color-primary: hsl(214 70% 35%); */
  --color-primary: 214 70% 40%;

  /* --color-accent: hsl(48 96% 53%); */
  --color-accent: 48 96% 53%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Onest Variable', system-ui, sans-serif;
  background-color: hsl(var(--color-bkg));
  color: hsl(var(--color-content));
  text-shadow: 1px 1px 2px var(--tw-shadow-color);
  background-image: linear-gradient(
    45deg,
    transparent 20%,
    hsl(var(--color-gradient)) 100%
  );
}
body {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100dvh;
  font-size: 1rem;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  padding: 0.2em 0.5em;
  background-image: rgb(47, 47, 47);
  color: white;
  border-radius: 0.5em;
}
