---
import '@fontsource-variable/onest';

// import "@/styles/global.css";

import Header from '@/components/header/Header.astro';
import Footer from '@/components/footer/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

const allowedUsers = import.meta.env.PUBLIC_ALLOWED_USERS.split(', ');

const pageDescription = 'Administrador de Contenidos';
const pageTitle = 'Decap CMS';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="robots" content="noindex" />
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <!-- Link to the main page -->
    <!-- <div class="w-full flex place-content-center p-2">
      <a
        class="bg-gray-700 p-1 rounded text-gray-200 hover:scale-110 transition"
        href="/">VOLVER</a
      >
    </div> -->
    <!-- <style>
      ul,
      li {
        list-style: circle !important;
      }
    </style> -->

    <!-- <Header /> -->
    <div id="nc-root"></div>
    <!-- <Footer /> -->
    <!-- Include the script that builds the page and powers Decap CMS -->
    <script is:inline src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"
    ></script>
    <!-- Netlify Identity Widget -->
    <script
      is:inline
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <!-- Customize the netlify identity widget to refresh on logout preventing users from using the cms when not logged in and then seeing an error -->
    <script is:inline>
      netlifyIdentity.on('logout', () => location.reload());
    </script>

    <!-- Comprueba que el usuario tenga permiso -->
    <script>
      // Se importa la lista de usuarios permitidos desde el archivo .env
      const allowedUsers = import.meta.env.PUBLIC_ALLOWED_USERS.split(', ');
      console.log('allowedUsers', allowedUsers);

      // Se comprueba si el usuario logueado está en la lista de usuarios permitidos
      // @ts-expect-error netlifyIdentity is defined globally
      netlifyIdentity.on('login', user => {
        console.log(user);
        // console.log(localStorage);
        // if (user.email != "rogersanchom@gmail.com") {
        if (!allowedUsers.includes(user.email)) {
          // Si no está en la lista de usuarios permitidos se cierra la sesión, se borra la cookie y se redirige a la página principal
          // @ts-expect-error netlifyIdentity is defined globally
          netlifyIdentity.logout();
          localStorage.removeItem('gotrue.user');
          window.location.href = '/';
          alert('No tienes permisos para acceder a esta página');
        }
      });
    </script>
    <!-- CSS in preview panel -->
    <script>
      // @ts-expect-error CMS is defined globally
      CMS.registerPreviewStyle('/admin/global.css');
    </script>
    <!-- Only showing body in preview panel -->
    <script src="@/utils/preview.js"></script>
  </body>
</html>
