---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";
import PostLink from "@/components/PostLink.astro";
import TagIndex from "@/components/TagIndex.astro";
const allPosts = await Astro.glob("/src/pages/posts/**/*.md");
console.log(allPosts);

const pageTitle = "Blog";
const pageDescription = "Conjunto de entradas del blog";
---

<Layout pageTitle={pageTitle} pageDescription={pageDescription}>
  <TagIndex />
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
  <ul class="grid grid-cols-3 gap-3">
    {
      allPosts.map((post) => (
        <li>
          <PostLink url={post.url} postInfo={post.frontmatter} />
        </li>
      ))
    }
  </ul>
</Layout>
