---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/unused/Greeting.jsxng.js';

const pageTitle = 'Blog RSMKode';
---

<Layout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
  <Greeting client:load messages={['Hej', 'Hallo', 'Hola', 'Habari']} />
  PRUEBA DE VIDEO
  <iframe
    src="https://drive.google.com/file/d/1Ieifgl_U0x12cdwqjxGCN728aTQU-u4s/preview"
    width="640"
    height="480">
  </iframe>
</Layout>
