---
import NavLink from '@/components/header/NavLink.astro';
import ThemeSwitch from '@/components/header/ThemeSwitch.astro';
import Navigation from '../header/Navigation.astro';
import CustomSeparator from '../general/CustomSeparator.astro';
import { Icon } from 'astro-icon/components';

import { getLocaleTranslation } from '@/i18n/ui';

const locale = Astro.currentLocale ?? 'es';
const ui = getLocaleTranslation(locale);
---

<header
  class="px-6 py-2 w-full flex flex-col gap-2 max-w-7xl bg-opacity-70 sticky top-0 left-0 z-10 backdrop-blur-lg dark:bg-transparent rounded shadow-black [text-shadow:_1px_1px_4px_var(--tw-shadow-color)]">
  <div class="flex justify-between items-center">
    <a href=`/${locale}`>
      <h1
        class="group text-3xl font-bold hover:text-accent flex gap-2 items-center">
        <Icon
          name="abastos-logo"
          size={45}
          class="text-accent group-hover:scale-110 transition duration-300 drop-shadow-md"
        />
        <div
          class="border-b-2 py-1 border-transparent flex flex-col group-hover:text-accent group-hover:border-accent group-hover:shadow-accent transition duration-300">
          <span class="hidden sm:inline"
            >{ui.textContent.header.title.main}</span
          >
          <small class="hidden sm:inline text-xs"
            >{ui.textContent.header.title.sub}</small
          >
        </div>
        <!-- ? Para que salga la E+
        E<span class="hidden sm:inline">rasmus</span>+ -->
      </h1>
    </a>
    <Navigation />
  </div>
</header>
<CustomSeparator class="text-accent max-w-7xl" />
<!-- <CustomSeparator class="text-accent max-w-7xl invisible dark:visible" /> -->
