---
import ThemeSwitch from '@/components/header/ThemeSwitch.astro';
import NavLink from '@/components/header/NavLink.astro';
import LanguageSwitch from './LanguageSwitch.astro';

const locale = Astro.currentLocale;
---

<a href="/"><h1 class="text-2xl lg:text-4xl font-bold"></h1></a>
<!-- transition:animate="slide" -->
<nav
  class="flex flex-wrap justify-end items-center gap-2 max-w-5xl xl:max-w-7xl">
  <!-- <NavLink title="Inicio" link=/${locale}` icon="tabler:home" /> -->
  <NavLink title="About" link=`/${locale}/about` icon="mdi:blog" />
  <NavLink
    title="Proyectos"
    link=`/${locale}/projects`
    icon="mdi:text-box-multiple-outline"
  />
  <NavLink title="Categorías" link=`/${locale}/categories` icon="tabler:tag" />
  <LanguageSwitch />
  <!-- <ThemeSwitch /> -->
</nav>
