---
import ThemeSwitch from "@/components/ThemeSwitch.astro";
import NavLink from "@/components/NavLink.astro";
---

<a href="/"><h1 class="text-2xl lg:text-4xl font-bold"></h1></a>
<!-- transition:animate="slide" -->
<nav class="flex justify-end items-center xl:gap-1 max-w-5xl xl:max-w-7xl">
  <NavLink nombre="Inicio" link="/" icono="tabler:home" />
  <!--data-astro-reload si queremos recargar lapágina entera -->
  <!-- <NavLink nombre="About" link="/about" icono="mdi:company" /> -->
  <NavLink nombre="About" link="/about" icono="mdi:blog" />
  <NavLink nombre="Proyectos" link="/projects" icono="mdi:text-box-multiple-outline" />
  <NavLink nombre="Categorías" link="/tags" icono="tabler:tag" />
  <NavLink nombre="Admin" link="/admin" icono="tabler:user" />
  <ThemeSwitch />
</nav>
