---

---

<nav transition:animate="slide" class="nav-links">
  <a href="/">Inicio</a>
  <!--data-astro-reload si queremos recargar lapágina entera -->
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/tags">Tags</a>
  <a href="/admin">Admin</a>
</nav>
