---
import { Icon } from "astro-icon/components";

const { nombre, link, icono } = Astro.props;
---

<a
  class="flex items-start justify-center text-secondary border border-transparent hover:text-accent-1 hover:border-accent-1 font-medium px-2 py-1 rounded-lg gap-1 hover:scale-[1.05] active:scale-[1] transition-all duration-300"
  href={link}
  title={nombre}
>
  <Icon name={icono} size={20} class="" />
  <span class="hidden sm:flex">{nombre}</span>
</a>
