---
import TagCard from './TagCard.astro';
import type { CollectionEntry } from 'astro:content';

const { tags, class: className } = Astro.props;
---

<section class={'grid gap-4 grid-cols-auto-fit-sm ' + className}>
  {
    tags.map((tag, index) => {
      let animationDelay = index * 100;
      const { slug, data } = tag;
      const { title, type, image } = data;

      return (
        <TagCard
          name={title}
          linkUrl={`/categories/${slug}`}
          image={image}
          class={`animate-fade-in-up`}
          style={`animation-delay: ${animationDelay}ms`}
        />
      );
    })
  }
</section>
