---
import Layout from "@/layouts/Layout.astro";
const allPosts = await Astro.glob("/src/pages/posts/**/*.md");
const projects = [
  ...new Set(allPosts.map((post) => post.frontmatter.project).flat()),
];

const pageTitle = "Índice de tipos de proyectos Erasmus+";
const pageDescription =
  "Índice de tipos de proyectos Erasmus+ de los artículos del blog";
---

<Layout pageTitle={pageTitle} pageDescription={pageDescription}>
  <section class="project-container">
    {
      projects.map((project) => (
        <a class="project" href={`/projects/${project}`}>
          {project}
        </a>
      ))
    }
  </section>
</Layout>
