---
import '@/styles/global.css';
import Layout from '@/layouts/Layout.astro';
import Greeting from '@/components/Greeting.jsx';
import TagIndex from '@/components/TagIndex.astro';
import CardGrid from '@/components/CardGrid.astro';
import { getCollection } from 'astro:content';
import CustomSeparator from '@/components/CustomSeparator.astro';

const currentProjects = await getCollection(
  'projects',
  project => project.data.inProgress === true
);
currentProjects.sort((a, b) =>
  new Date(a.data.date) > new Date(b.data.date) ? -1 : 1
);

const pastProjects = await getCollection(
  'projects',
  project => project.data.inProgress === false
);
pastProjects.sort((a, b) =>
  new Date(a.data.date) > new Date(b.data.date) ? -1 : 1
);

const pageTitle = 'IES Abastos | Erasmus+';
const pageDescription = 'Proyectos Erasmus+ de IES Abastos';
---

<Layout {pageTitle} {pageDescription}>
  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-bold">
      Proyectos Erasmus+ <span class="text-accent capitalize">en curso</span>
    </h2>
    {
      currentProjects.length > 0 ? (
        <CardGrid projects={currentProjects} />
      ) : (
        <p>No hay proyectos en curso</p>
      )
    }
  </section>
  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-bold">
      Proyectos Erasmus+ <span class="text-accent capitalize">finalizados</span>
    </h2>
    {
      pastProjects.length > 0 ? (
        <CardGrid projects={pastProjects} isTiny />
      ) : (
        <p>No hay proyectos finalizados</p>
      )
    }
  </section>
</Layout>
