---
import Link from '../general/Link.astro';
import { getLocaleTranslation } from '@/i18n/ui';

const locale = Astro.currentLocale ?? 'es';
const { technologies } = getLocaleTranslation(locale);
---

<nav class="flex flex-col gap-2 items-start">
  <Link title="Admin" link="/admin" icon="tabler:user" />
</nav>
