---
import { getLocaleTranslation } from '@/i18n/ui';

const locale = Astro.currentLocale ?? 'es';
const ui = getLocaleTranslation(locale);
---

<section class="flex flex-col sm:flex-row gap-2 justify-between items-center">
  <img
    src="/assets/logos/es_v_cofinanciado_por_la_union_europea_neg.png"
    alt=""
    class="opacity-80 w-40 flex-shrink-0 self-start"
  />
  <p class="">
    {ui.textContent.footer.disclaimer}
  </p>
</section>
