---
import { Icon } from 'astro-icon/components';
import CustomSeparator from '../general/CustomSeparator.astro';
import Disclaimer from './Disclaimer.astro';
import Tecnologies from './Tecnologies.astro';
import SocialLinks from './SocialLinks.astro';
import { getLocaleTranslation } from '@/i18n/ui';
import FooterMain from './FooterMain.astro';
import RepoLinks from './RepoLinks.astro';

const locale = Astro.currentLocale ?? 'es';
const ui = getLocaleTranslation(locale);
---

<!-- <CustomSeparator class="text-accent max-w-7xl invisible dark:visible" /> -->
<CustomSeparator class="text-accent max-w-7xl" />
<footer
  class="w-full max-w-7xl flex flex-col gap-4 p-6 text-content/80 bg dark:bg-transparent rounded">
  <section class="flex flex-col sm:flex-row justify-between gap-4">
    <div class="flex flex-col gap-2">
      <FooterMain />
      <RepoLinks />
    </div>
    <CustomSeparator class="sm:hidden w-full text-content/30" />
    <div class="flex flex-col gap-2">
      <SocialLinks />
    </div>
    <CustomSeparator class="sm:hidden w-full text-content/30" />
    <div class="flex flex-col gap-2">
      <Tecnologies />
    </div>
  </section>
  <CustomSeparator class="sm:hidden w-full text-content/30" />
  <Disclaimer />
</footer>
<style></style>
