---
import { Icon } from 'astro-icon/components';
import CustomSeparator from '../general/CustomSeparator.astro';

interface Props {
  title: string;
  link: string;
  icon: string;
}

const { title, link, icon } = Astro.props;

const isActive = Astro.url.pathname === link;
---

<a
  class="flex items-start justify-center border-b-2 border-transparent hover:text-accent hover:border-accent font-medium gap-1 hover:scale-[1.05] active:scale-[1] transition duration-300 hover:shadow-current"
  href={link}
  title={title}>
  <Icon name={icon} size={20} class="" />
  <span class="">{title}</span>
</a>
<CustomSeparator class="text-accent h-[0.1rem] hidden hover:block" />
