---
import Link from '@/components/general/Link.astro';
import { getLocaleTranslation } from '@/i18n/ui';

const locale = Astro.currentLocale ?? 'es';
const { links } = getLocaleTranslation(locale);
---

<nav class="flex flex-col gap-2 items-start">
  {
    Object.entries(links).map(([key, value]) => {
      if (key === 'repo' || key === 'portfolio') return;

      return <Link title={value.title} link={value.url} icon={value.icon} />;
    })
  }
</nav>
