---
import FooterLink from '../general/Link.astro';
import { getLocaleTranslation } from '@/i18n/ui';

const locale = Astro.currentLocale ?? 'es';
const { technologies, links } = getLocaleTranslation(locale);
---

<nav class="flex flex-col gap-2 items-start">
  <h3>Powered by</h3>
  {
    Object.entries(technologies).map(([key, value]) => (
      <FooterLink title={value.title} link={value.url} icon={value.icon} />
    ))
  }
</nav>
