---
import FooterLink from './FooterLink.astro';
import { getLocaleTraduction } from '@/i18n/ui';
const { technologies } = getLocaleTraduction(Astro.currentLocale);
---

<nav class="flex flex-col gap-2 items-start">
  <h3>Powered by</h3>
  {
    Object.entries(technologies).map(([key, value]) => (
      <FooterLink title={value.title} link={value.url} icon={value.icon} />
    ))
  }
</nav>
